<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><i class="bx bxl-gmail"></i></li>
        <li><a href="https://www.linkedin.com/in/kunal-lohar-879865168" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
        <li><i class="bx bxl-twitter"></i></li>
    </ul>

    <ul class="contact-info">
        <li>
            <span>Mobile:</span>
            <span> 9545535699</span>
        </li>

        <li>
            <span>Email:</span>
            <span> kunal.lohar1998@gmail.com</span>
        </li>
    </ul>
</div>